#Constants {
    includeNativeBool: true; 
}

@font-face {
    font-family: "OpenSans-Light";
    src: url(../src/OpenSans-Light.ttf);
}
@font-face {
    font-family: "AlexBrush-Regular";
    src: url(../src/AlexBrush-Regular.ttf);
}

Label {
    font-family: "OpenSans-Light";
}

Label2 {
    font-family: "AlexBrush-Regular";
}